@model RuhsatProject.DTOs.Ruhsat.RuhsatDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Ruhsat Belgesi</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            box-sizing: border-box;
        }

        .wrapper {
            position: relative;
            width: 764px;
            height: 1093px;
            box-sizing: border-box;
            border: 6px solid #1d4ea4;
            padding: 40px 25px 25px 25px;
            margin: 5px auto;
        }

        .footer {
            position: relative;
            font-size: 12px;
            font-weight: bold;
            color: #000;
            font-family: 'Arial', sans-serif;
            text-align: left;
            margin: 0; /* Boşlukları kaldırdık */
        }



        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 15px;
            padding: 0 120px;
        }

        .logo {
            position: absolute;
            top: -35px;
            left: -35px;
            width: 300px;
            height: 200px;
        }

        .header-text {
            font-weight: bold;
            font-size: 14pt;
            text-align: center;
            width: 100%;
            line-height: 1.3;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        .main-title {
            text-align: center;
            font-size: 20pt;
            font-weight: 680;
            margin-bottom: 40px;
        }

        .content-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .content-table td {
                padding: 2px 3px;
                vertical-align: top;
                line-height: 1.6;
                font-size: 16px;
            }

        .label {
            font-weight: bold;
            width: 20%;
            white-space: nowrap;
            font-size: 16px;
        }

        .photo {
            position: absolute;
            top: 20px;
            right: 15px;
            width: 150px;
            height: 180px;
            border: 1px solid #000;
            object-fit: cover;
        }

        .row-three-cols {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            margin-bottom: 20px;
        }

            .row-three-cols td {
                padding: 1px 2px;
                font-size: 16px;
                white-space: nowrap;
                vertical-align: top;
            }

        .signature-block {
            position: relative;
            width: 100%;
            text-align: right;
            margin-top: 250px;
            margin-bottom: 30px;
            padding-right: 40px;
        }

        .signature-name {
            font-size: 13pt;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .signature-title-main {
            font-size: 12pt;
            margin-bottom: 5px;
            display: inline-block;
            min-width: 180px;
            text-align: center;
        }

        .signature-title-sub {
            font-size: 12pt;
        }

    </style>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img src="@($"{Context.Request.Scheme}://{Context.Request.Host}/img/logo-2.png")" class="logo" alt="Logo" />
            <div class="header-text">
                <br />
                T.C. <br />
                BATMAN <br />
                BELEDİYE BAŞKANLIĞI
            </div>
        </div>

        <div class="main-title">
            İŞYERİ AÇMA VE ÇALIŞMA RUHSATI
        </div>

        @if (!string.IsNullOrEmpty(Model.PhotoPath))
        {
            <img class="photo" src="@Model.PhotoPath" alt="Fotoğraf" />
        }

        <table class="content-table">
            <tr>
                <td class="label">T.C. Kimlik No</td>
                <td>: @Model.TcKimlikNo</td>
            </tr>
            <tr>
                <td class="label">Adı Soyadı</td>
                <td>: @Model.Adi @Model.Soyadi</td>
            </tr>
            <tr>
                <td class="label">İşyeri Ünvanı</td>
                <td>: @Model.IsyeriUnvani</td>
            </tr>
            <tr>
                <td class="label">Faaliyet Konusu</td>
                <td>: @Model.FaaliyetKonusu?.Name</td>
            </tr>
            <tr>
                <td class="label">İşyerinin Adresi</td>
                <td>: @Model.Adres</td>
            </tr>
        </table>

        <table class="row-three-cols" style="width: 100%; table-layout: fixed;">
            <tr>
                <td style="white-space: nowrap; width: 45%; padding-right: 20px;">
                    <strong>İşyerinin Bulunduğu Yer Ada No :</strong> @Model.Ada
                </td>
                <td style="white-space: nowrap; width: 27.5%; padding-right: 20px;">
                    <strong>Pafta :</strong> @Model.Pafta
                </td>
                <td style="white-space: nowrap; width: 27.5%;">
                    <strong>Parsel :</strong> @Model.Parsel
                </td>
            </tr>
        </table>


        <table class="content-table">
            <tr>
                <td class="label">İşyeri Sınıfı </td>
                <td>
                    : @if (Model.RuhsatTuru?.Name == "Gayrisıhhi Müessese")
                    {
                        <text>@Model.RuhsatSinifi?.Name</text>
                    }
                                        else
                    {
                        <text>….sınıf</text>
                    }

                    &nbsp;&nbsp;&nbsp;&nbsp;@Model.RuhsatTuru?.Name (X)
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    @if (Model.RuhsatTuru?.Name == "Sıhhi Müessese")
                    {
                        <text>Sıhhi Müessese (X)</text>
                    }
                    else
                    {
                        <text>Sıhhi Müessese ( )</text>
                    }
                </td>
            </tr>
        </table>
        @if (Model.RuhsatTuru?.Name == "Gayrisıhhi Müessese" && !string.IsNullOrWhiteSpace(Model.RuhsatSinifi?.Name))
        {
            if (Model.DepoBilgileri != null && Model.DepoBilgileri.Any())
            {
                var depoGruplari = Model.DepoBilgileri
                .Select((d, i) => $"{i + 1}.Depo: {d.Bilgi} m&#179;")
                .Chunk(3)
                .Select(grup => string.Join("&nbsp;&nbsp;&nbsp;&nbsp;", grup))
                .ToList();

                <div style="margin-top: 10px; font-size: 16px; font-weight: bold; color: #000; line-height: 1.6;">
                    <div>
                        İşyerinde yanıcı ve parlayıcı madde kategorisindeki sıvıların depolanması amacıyla
                        bulunacak depoların hacmi*:
                        @Html.Raw(depoGruplari.FirstOrDefault())
                    </div>
                    @foreach (var satir in depoGruplari.Skip(1))
                    {
                        <div>@Html.Raw(satir)</div>
                    }
                </div>
            }

            <div style="margin-top: 10px; font-size: 16px; font-weight: bold; color: #000; white-space: normal; word-break: break-word; line-height: 1.6;">
                <strong>İşyerinde yanıcı ve parlayıcı madde kategorisindeki sıvılardan depolanmasına izin verilenlerin sınıfı/sınıfları*:</strong>
                &nbsp;I. Sınıf Benzin, II. Sınıf Motorin, LPG Otogaz
            </div>
        }



        <br />
        <br />
        <table style="width: 100%; table-layout: fixed; margin-top: 4px;">
            <tr>
                <td style="white-space: nowrap; text-align: left; font-size: 17px; padding: 0;">
                    <span style="font-weight: bold;">Ruhsat Tarihi :</span> @Model.VerilisTarihi.ToString("dd.MM.yyyy")
                    &nbsp;&nbsp;-&nbsp;&nbsp;
                    <span style="font-weight: bold;">Ruhsat No :</span> @Model.RuhsatNo
                </td>
            </tr>
        </table>

        <div class="signature-block">
            <div class="signature-name">
                Mustafa Caner CULUKAR
            </div>
            <div class="signature-title-main">
                Başkan a.
            </div>
            <div class="signature-title-sub">
                Belediye Başkan Yardımcısı
            </div>
        </div>

        <div class="footer">
            14/07/2005 Tarihli ve 2005/9207 Sayılı Bakanlar Kurulu Kararı ile yürürlüğe konulan
            İşyeri Açma ve Çalışma Ruhsatlarına İlişkin Yönetmelik kapsamında düzenlenmiştir.
        </div>
        @if (Model.RuhsatTuru?.Name == "Gayrisıhhi Müessese")
        {
            <div class="footer">
                * Akaryakıt, sıvılaştırılmış petrol gazı, sıvılaştırılmış doğal gaz ve sıkıştırılmış doğal gaz istasyonu niteliğindeki işyeri için doldurulacaktır.
            </div>
        }


    </div>
</body>
</html>
